services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: marcus-app
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - redis
    command: sh -c "npx prisma migrate deploy && node dist/main.js"

  redis:
    image: redis:7-alpine
    container_name: hein-redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

volumes:
  redis_data:
