services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: arafat2025/marcus-app:latest
    platform: linux/amd64
    container_name: marcus-app
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3000:3000"
    # Auto-run migrations on startup
    command: sh -c "npx prisma migrate deploy && node dist/main.js"
